# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Folders
uploads/
failures/
tests/

# Test coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Test Folders
client_test/
csv_test/